.message .credentials {
    height: 20px;
    background-color: #d9edf7;
}
.message{
    margin: 10px;
}
.message .message_date{
    font-size:80%;
    float: right;
}
.clear{
    clear: both;
}
.message .toggle-feedback{
    float: right;
}