<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<title>Registro</title>
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/FormValidator.js"></script>
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-responsive.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
</head>
<body>
<div class="container wrap">
	<div class="alert-block i18n">
		<?php if(array_key_exists('l',$_SESSION) && $_SESSION['l'] == 'ru'):?>
			<a href="/?l=en">English</a>
		<?php else:?>
			<a href="/?l=ru">Русский</a>
		<?php endif;?>
	</div>
	<?php print $content; ?>
</div>
</body>