<?php
$showValidField = function($fieldName, $errorsStack){
    if(isset($errorsStack) && $errorsStack[$fieldName]['value']){
        echo $errorsStack[$fieldName]['value'];
    }
};
$showFieldErrors = function($fieldName, $errorsStack = null) use($l){
    if(isset($errorsStack) && $errorsStack[$fieldName]['error']){
        echo '<p class="error-block">';
        $l($errorsStack[$fieldName]['error']);
        echo '</p>';
    }
};
?>
<form action="/register" method="post">
    <fieldset><legend>register</legend>
    <input placeholder="name" type="text" class="r_name" name="name">
    <input placeholder="email" type="email" class="r_email" name="email">
    <input placeholder="password" type="password" class="r_email" name="password">
    <input type="submit" class="r_submit btn" name="submit">
    </fieldset>
</form>
<div class="row">
    <div class="span9 well">
        <div class="feedback">
            <h1>Feedback</h1>
            <?php foreach ($feedbacks as $item) :?>
            <div class="message">
                <div class="credentials">
                    <span class="name"><?php $l('name')?>: <?=$item->name;?></span>
                    <span class="email"><?php $l('email')?>: <?=$item->email;?></span>
                    <?php if ($user) : ?> <span class="edit">
                        <a href="#" class="toggle-feedback" data-id="<?=$item->id;?>"><?php ($item->approved) ? $l('disapprove') : $l('approve'); ?>
                            <i class='icon-edit'></i>
                        </a>
                    </span><?php endif; ?>
                </div>
                <div class="message_text">
                    <?=$item->message;?>
                    <?php if ($item->image !== ''):?>
                        <img class="thumbnail" src="upload/<?=$item->image;?>"/>
                    <?php endif; ?>
                </div>
                <div class="message_date">
                    <?=$item->date;?>
                </div>
                <div class="clear"></div>
            </div>
            <?php endforeach; ?>
        </div>
        <div class="row">
            <div class="span4">
                <form action="/" method="post" name="feedback" id="authorize"
                      enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="name"><?php $l('Name');?></label>
                        <input type="text" name="message[name]" class="form-control" id="name" placeholder="<?php $l('Enter name');?>"
                               value="<?php $showValidField('name',$authorizeErrors); ?>">
                        <?php $showFieldErrors('name',$authorizeErrors); ?>
                    </div>
                    <div class="form-group">
                        <label for="email"><?php $l('Email');?></label>
                        <input type="email" name="message[email]" class="form-control" id="email" placeholder="<?php $l('Enter email');?>"
                               value="<?php $showValidField('email',$authorizeErrors); ?>">
                        <?php $showFieldErrors('email',$authorizeErrors); ?>
                    </div>
                    <div class="form-group">
                        <label for="Message"><?php $l('Message');?></label>
                <textarea type="message" name="message[message]" class="form-control" id="message" placeholder="<?php $l('Enter message');?>"
                          value="<?php $showValidField('message',$authorizeErrors); ?>"></textarea>
                        <?php $showFieldErrors('message',$authorizeErrors); ?>
                    </div>
                    <div class="form-group">
                        <label for="image"><?php $l('Image');?></label>
                        <input type="file" id="image" name="message[image]">
                        <?php $showFieldErrors('image',$registerErrors); ?>
                        <p class="help-block"><?php $l('Image (gif, jpg, png). <br/> 2Mb max.');?></p>
                    </div>
                    <input class="btn btn-success" type="submit" value="<?php $l('Save');?>" />
                </form>
            </div>
        </div>
    </div>
    <div class="span2">
        <?php if ($user) {?>
            <div class="authorize">
                Hello <?=$user->name?>.
                <a href="/logout" class="btn">Logout</a>
            </div>
        <?php }else{ ?>
            <div class="authorize">
                <h2><?php $l('Login');?></h2>
                <form action="/authorize" method="post" enctype="application/x-www-form-urlencoded" name="authorize" id="authorize">
                    <div class="form-group">
                        <label for="email"><?php $l('Email');?></label>
                        <input type="email" name="auth[email]" class="form-control" id="email" placeholder="<?php $l('Enter email');?>"
                               value="<?php $showValidField('email',$authorizeErrors); ?>">
                        <?php $showFieldErrors('email',$authorizeErrors); ?>
                    </div>
                    <div class="form-group">
                        <label for="password"><?php $l('Password');?></label>
                        <input type="password" name="auth[password]" class="form-control" id="password" placeholder="<?php $l('Enter password');?>"
                               value="<?php $showValidField('password',$authorizeErrors); ?>">
                        <?php $showFieldErrors('password',$authorizeErrors); ?>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="rememberMe" id="rememberMe"> <?php $l('Remember me');?>
                        </label>
                    </div>
                    <?php $showFieldErrors('under',$authorizeErrors); ?>
                    <button type="submit" name="submit" class="btn btn-default"><?php $l('Enter');?></button>
                </form>
            </div>
        <?php } ?>
    </div>
</div>
<script type="text/javascript">
    $('.toggle-feedback').click(function(evy){
        $.ajax('/togglefeedback/'+$(evy.target).data('id'), {dataType:'json', complete:function(data){
            if(data.responseJSON.status == 'done'){
                var str = ($(evy.target).text().trim() == 'approve') ? 'disapprove' : 'approve';
                str+=" <i class='icon-edit'></i>";
                $(evy.target).html(str);
            }
        }});
    });
    var onError = function(errors, evt){
        if (errors.length > 0) {
            for(var i=0; i<errors.length;i++){
                p = document.createElement('p');
                p.className = 'error-block';
                p.innerText = errors[i].message;
                if(errors[i].element.nextElementSibling == null){
                    errors[i].element.parentNode.insertBefore(p, errors[i].element.nextElementSibling);
                }else{
                    errors[i].element.nextElementSibling.innerText = errors[i].message;
                }
            }
        }
    };
    var messages = {
        required: '<?php $l('This field is required.');?>',
        valid_email: '<?php $l('This field must contain a valid email address.');?>',
        alpha_numeric: '<?php $l('This field must only contain alpha-numeric characters.');?>'
    };
    var validatorAuthorize = new FormValidator('authorize', [{
        name: 'password',
        rules: 'required'
    }, {
        name: 'email',
        rules: 'required|valid_email'
    }], onError, messages);

    var validatorRegister = new FormValidator('register', [{
        name: 'name',
        rules: 'required|alpha_numeric'
    }, {
        name: 'password',
        rules: 'required'
    }, {
        name: 'email',
        rules: 'required|valid_email'
    }], onError, messages);
</script>